<!DOCTYPE html>
<html>
<head>
  <title>Authentication</title>
  <link rel="stylesheet" href="/stylesheets/loginPage.css" />
</head>
<body>
  <div id="app">
    <h1>Authenticate</h1>
    <form id="login-form">
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password"><br>
      <input type="submit" value="Login">
    </form>
  </div>
  <script type="text/javascript" src="/javascripts/loginPage.js"></script>
</body>
</html>
