<html>
    <head>
        <meta charset="utf-8">
        <title>Robots TXT</title>
        <link rel="stylesheet" href="/stylesheets/robots.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>"
        <div class="terminal" id="terminal">
        </div>

        <script src="/javascripts/robots.js"></script>
        
    </body>
</html>